@charset "utf-8";


@font-face 
   {font-family: 'alltex';
    src:url('fonte/Wachinanga-font.otf') format('opentype') ;
       font-weight: normal;
    font-style: normal;}

@font-face  
    {font-family:'whander' ;
    src: url('fonte/W@rdooM_demo.otf') format('opentype') ;
    font-weight: normal;
    font-style: normal;}

    @font-face 
    {font-family: 'abertura';
    src: url('fonte/FairyDustB.ttf') format('truetype') ;
    font-weight: normal;
    font-style: normal;}     

:root
{--cor1:#03045e;
--cor2: #0077b6;
--cor3: #00b4d8;
--cor4: #90e0ef;
--cor5: #caf0f8;

--fonte-lugares: 'lugares', verdana, helvetica, sans-serif;/*marcação de nomes ou lugares*/
--fonte-titulos: 'whander', times, arial ; /*h1*/
--fonte-texto: 'alltex', times, arial  ;/*texto do site*/
--fonte-abertura: 'abertura', times, sans-serif;}

*
{margin: 0px;
padding: 0px;}

body
{background-color: white;}

header#abertura
{background-image: linear-gradient(to left, var(--cor1), var(--cor3));
padding: 30px;
margin: 0px 0px 40px;}

header#abertura > p
{color: white; 
text-align: center;
padding: 20px; 
font-family: var(--fonte-abertura);
font-size:  40px;}

main
{background-image: linear-gradient(to left, var(--cor1), var(--cor2), var(--cor3));
height: auto;
max-width: 1000px;
margin: auto;
margin-bottom: 30px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
padding: 0px 0px 5px;
box-shadow: 0px 0px 10px rgba(5, 5, 5, 0.986);}

nav
{background-image: linear-gradient(to left, var(--cor1), var(--cor3));
text-align: center;
margin: 1cm 1cm 1cm 1cm;}

nav.link
{background-color:  #010221ec;
padding: 20px;
margin: -40px 0px 0px;  
width: auto;}

nav.link a {
margin: 10px;
padding: 5px;
text-align: center;

}

nav.link > a:hover 
{background-color: rgba(0, 0, 0, 0.252);
color:orangered;
border-radius: 5px;}

nav > a 
{color: white;
font-family: Verdana,  Tahoma, sans-serif;
font-size: 0.50cm;
padding: 10px;
text-decoration: none;
margin: 10px;
padding: -5px;}

nav#navum
{background-image: linear-gradient(to left, var(--cor1), var(--cor3));
color: white;
font-size: larger;
padding: 1px;
margin: 5px;
margin: 0cm 2cm 2cm ;
min-height: 150px;
border-radius: 0px 0px 5px 5px ;}

main#menu
{background-image: linear-gradient(to left, var(--cor1), var(--cor3));
text-align: center;
margin: 1cm 5cm 1cm 5cm ; 
border-radius: 2px;
box-shadow: 2px 7px 20px 0px black;
font-family: var(--fonte-texto);}

div#igarata
{background-image: linear-gradient(to right, var(--cor1), var(--cor3));
color: white;
font-size: larger;
padding: 30px;
margin: 38px;
text-align: center;
height: auto;
border-radius: 10px 10px 10px 10px  ;
min-height: 150px;}

div#igarata > picture > img
{float: left;
width: 150px;
height: 150px;}

div#pedal
{background-image: linear-gradient(to left, var(--cor1), var(--cor3));
color: white;
font-size: larger;
padding: 30px;
margin: 38px;
text-align: center;
height: auto;
border-radius: 10px 10px 10px 10px;}

div#pedal > picture > img
{float: right;
width: 150px;
height: 150px;
padding: 3px;}

div#trilha 
{background-image: linear-gradient(to right, var(--cor1), var(--cor3));
color: white;
font-size: larger;
padding: 30px;
margin: 38px;
text-align: center;
height: auto;
border-radius: 10px 10px 10px 10px;}

div#trilha > picture > img 
{float: left;
width: 200px;
height: 200px;}

section#detroid
{
color: rgb(255, 255, 255);
font-size: larger;
padding: 30px;
margin: 38px;
text-align: center;
height: auto;
background-image:url('fundos/fundodois.png') ;
background-position: bottom;
background-size: cover;
border-radius: 10px 10px 10px 10px  ;
}

section#detroid > picture > img 
{float: left;
width: 300px;

height: 300px;}

section#detroid > picture > p  
{color:black;

font-style: oblique;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
 
section#detroid > div > video 
{width: 300px;
height: 400px;
background-position: center;
margin: -20px;
margin-bottom: -10px;
text-align: center;}
   
div#tenis
{background-image: linear-gradient(to top, var(--cor1), var(--cor3));
text-align: center;
margin-bottom: 10px;
padding: 30px;
margin: 38px;
border-radius: 10px 10px 10px 10px;}

div#tenis > picture > img
{width: 300px;
height: 300px;}

div#tenis > picture > p 
{color: white;
font-size: large;}

footer
{text-align: center;
font-size: 0.8em;
padding: 1px;}

a.externo
{color: orangered;}
   
h1
{font-family: var(--fonte-titulos);
font-size: 4vh;
color:rgba(225, 63, 5, 0.926);
text-align: center;
background-image: linear-gradient(to right , transparent, );
width: auto;}
 
p
{font-family: var(--fonte-texto);}
